
<body>
<div class="container" style="width: 60%">
    <br>
    <hr>
    <div class="card">
      <div class="card-body">


      <h1>Create User</h1>
      <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
          </div>

          <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
          </div>

          <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
          </div>

          <div class="form-group">
            <label for="name">Password</label>
            <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>

      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
      </div>
 </div></div></div>
</body>
