<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light py-3" style="font-family:Comfortaa">
    <div><a class="navbar-brand" href="/home" >
      <img src="../../assets/HomeTitle.png" alt="" style="max-width: 150px;">
    </a>
      <a href="/home" class="navbar-brand" style="color: rgba(0,0,0,.5); font-size: 1rem; padding-left: 10px">Home</a>
      <a href="/services" class="navbar-brand" style="color: rgba(0,0,0,.5); font-size: 1rem;">Services</a>
</div>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" *ngIf="LoginStatus" href="/login">Login</a>
      </li>
      <li *ngIf="!(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" *ngIf="LoginStatus" href="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
        <a class="nav-link" *ngIf="LoginStatus" (click)="handleLogout()" href="/logout" >Logout</a>
      </li>
      <li *ngIf="(LoginStatus$ | async) as LoginStatus">
        <a *ngIf="LoginStatus" class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
  </nav>
  <nav  *ngIf="(LoginStatus$ | async) as LoginStatus" class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div>
      <!-- Links   *ngIf="LoginStatus && isAdmin"-->
    <ul class="navbar-nav" *ngIf="LoginStatus">
      <li class="nav-item">
        <a routerLink="users" class="nav-link" routerLinkActive="active">User List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="pets" class="nav-link" routerLinkActive="active">Pet List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-pet" class="nav-link" routerLinkActive="active">Add Pet</a>
      </li>
    </ul>
    </div>
  </nav>
</header>


