<div class="container" style="width: 33%">
  <br>
  <hr>
  <div class="card">
    <div class="card-body">

<h2>User Details</h2>

<hr/>
<div *ngIf="user">
  <div>
    <label><b>First Name: </b></label> {{user.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{user.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{user.email}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to User List</button><br>

</div></div></div>
